.vscode/
__pycache__/
*.pyc
*.pyo
*.env
*.venv
env/
venv/
.idea/
*.iml
.pio/
build/
compile_commands.json
pdf-forge-exports/
AREAS-ExpoCiencias-NL-2026-V1.pdf
CONVOCATORIA-ExpoCiencias-NL-2026-V1.pdf
Notas.md
.vscode/